body {
  background-color: #e8e8ff;
}

* {
  /* font-family: 'Noto Sans JP' !important; */
  font-family: "Heebo", sans-serif !important;
}

container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 600px) {
  container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
