a {
  text-decoration: none;
  color: hsl(0deg 0% 94%);
}

h1 {
  font-size: 1.8rem;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

header {
  width: 100%;
  background-color: hsl(250deg 55% 55%);
  border-radius: 15px 15px;
  margin-bottom: 25px;
  box-shadow: 0px 6px 15px #0000ff61;
}

header .containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60%;
  width: 95%;
  margin: auto;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(241, 239, 239);
  /* text-transform: uppercase; */
  /* font-family: "Roboto", sans-serif; */
  /* font-size: 1.2rem; */
  padding: 2rem 1rem 2rem 1rem;
  transition: all 250ms linear 0s;
  font-size: 0.875rem;
  font-weight: 500;
}

header nav ul li a:hover {
  color: #ffffff;
  font-weight: 600;
}
header nav ul li a {
  position: relative;
  animation-name: menu;
  animation-duration: 1s;
  transition: 100ms;
}

header nav ul li a .FiLogOut {
  position: relative;
  top: 2px;
  left: 2px;
}

.image {
  height: 70px;
  padding-bottom: 10px;
  /* margin-top: 5px;
  margin-left: 10px; */
}

.logo {
  /* margin: auto; */
  display: flex;
  align-items: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.appBar-1 {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.root {
  width: 100%;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
}

.colorInherit {
  color: inherit;
}

.positionStatic {
  position: static;
}

.paper-elevation4 {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.paper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .appBar-1 {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .appBar-1 {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .appBar-1 {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 426px) and (max-width: 479px) {
  h1 {
    font-size: 1.8rem;
    word-wrap: break-word;
  }

  .appBar-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 367px) and (max-width: 425px) {
  h1 {
    font-size: 1.6rem;
    word-wrap: break-word;
  }

  .appBar-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 330px) and (max-width: 366px) {
  h1 {
    font-size: 1.4rem;
    word-wrap: break-word;
  }

  .appBar-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image {
    height: 70px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 289px) and (max-width: 330px) {
  h1 {
    font-size: 1.3rem;
    word-wrap: break-word;
  }

  .appBar-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image {
    height: 50px;
  }
}
@media only screen and (max-width: 288px) {
  h1 {
    font-size: 1.2rem;
    word-wrap: break-word;
  }

  .appBar-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image {
    height: 50px;
    padding-bottom: 0px;
  }

  .menu-toggle {
    width: 30px;
    height: 20px;
    margin-right: 20px;
  }
}

.MyButtoncontainedPrimary {
  color: #fff;
  background-color: #3f51b5;
}

.MyButtoncontained {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
}

.MyButtonroot {
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.MyButtonBaseroot {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.MyButtonlabel {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.login-btn {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #fff;
  background-color: #3f51b5;
  cursor: pointer;
  padding: 6px 5px;
  font-size: 0.875rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  min-width: 110px;
  height: 40px;
}

.login-btn:after {
  font-weight: 400;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-10%, -10%);
}

.login-btn:hover {
  background: #2b2bff;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #ffffff;
  font-weight: 600;
}
.login-btn:after {
  opacity: 1;
  transition: all 0.5s;
  color: #ffffff;
}

@keyframes menu {
  0% {
    left: 0px;
    top: -100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 200px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 630px) {
  .hero .container {
    flex-direction: column;
    text-align: center;
  }

  .form-group {
    display: block;
  }
}

@media (max-width: 710px) {
  .menu-section nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #ffffff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }
  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /*Fullscreen*/
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: hsl(250deg 55% 15%);
    z-index: 10; /*camada acima, evitar o scrool dos itens a baixo*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 25px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #fff;
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
    background-color: #fff;
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 1.4rem;
    display: block;
    color: #fff;
    padding: 1.8rem;
  }

  header nav ul li a .FiLogOut {
    width: 40px;
  }
  .menu-section.on nav ul .hide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 320px) {
  #form h3 {
    font-size: 1.4rem;
  }
}
